<h3>Edit Desk Entry</h3>

<p><strong>Supplier: <%= @supplier.name %></strong></p>

<%= render 'form' %>

<%= link_to 'Show', supplier_service_path(@supplier, @service) %> |
<%= link_to 'Back', supplier_services_path(@supplier) %>
