<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h3>Edit Booking</h3>
			<%= render 'form' %>
			<p>&nbsp;</p>
			<%= link_to 'Show all bookingss', bookings_path, :class => 'btn btn-success' %> 
		</div>
	</div>
</div>
