
body { padding-top: 51px; }

 .list-pic {
  width: 200px;
  border-radius: 5px;
  margin-bottom: 5px;
 }

 .show-pic {
  width: 400px;
  border-radius: 5px;
 }

 .row-index {
  border-top: 1px solid #bbbbbb;
  padding-top: 10px;
  padding-bottom:10px;
}

.btn {
  margin-bottom: 10px;
}