<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h1>Edit Enquiry</h1>
			<%= render 'form' %>
			<p>&nbsp;</p>
			<%= link_to 'Show all enquiries', enquiries_path, :class => 'btn btn-success' %> 
		</div>
	</div>
</div>

